.button {
  background-color: tomato;
  border: 1px tomato;
  border-radius: 3px;
  margin-left: 5px;
  padding: 5px 10px;
  transition: 500ms;
  cursor: pointer;
}
.button:hover {
  background-color: red;
}
.formWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.urlInput {
  width: 60vw;
}
.card {
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  height: fit-content;
  width: 60vw;
  border-radius: 5px;
  margin-top: 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px #333;
  z-index: 1;
}
